

body{
    background:  #E5E5E5;
    line-height: 1,5;
}

.pricing-table-two{
    width: 1197px;
    height: 660px;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
    color: #484848;
    position: relative;
    text-align: center;
    border-collapse: collapse;
    margin: auto;
    margin-top: 60px;
    border: 20px solid #3A4965;

}

td:nth-child(even),
.service:nth-child(even){
    background-color: #E3E3E3;
}

td:nth-child(odd),
.service:nth-child(odd){
    background-color: #F2F2F2;
}

.main-column{
    width: 200px;
    color: #484848;
    background: #FAFAFA;
}

.main-column-text{
    display: flex;
    flex-direction: column;
    font-weight: 700;
    font-size: 20px;
}

.main-column-text span:first-child{
    font-size: 14px;
}


.head-table-two{
    border-bottom: 10px solid #3A4965;
    height: 115px;
}

.service{
    width: 160px;
}

.table-name-two{
    text-align: left;
    text-transform: none;
    margin-bottom: 5px;
}

.table-name-two a{
    text-decoration: none;
    color: #3e3e3f;
    font-size: 16px;
}

.tariff{
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.tariff-name{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.btn{
    width: 147px;
    height: 44px;
    border: none;
    border-radius: 5px;
    background-color: #414141;
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    border-bottom: 9px solid #343434;
    margin-top: 8px;
}

.btn-one{
    background: #484848;
}

tr:not(:last-child){
    border-bottom: 1px solid #bdbdbd;
}

.price{
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
    position: relative;
    margin-right: 26px;
}

.price::after{
    content: ".99";
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    bottom: 18px;
    position: absolute;
}

.price-text{
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    bottom: 6px;
    position: relative;
}















